@font-face {
    font-family: 'Sweetie Bubble Gum';
    src: url('/fonts/SweetieBubbleGum-Regular.woff2') format('woff2'),
        url('/fonts/SweetieBubbleGum-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Patrick Hand';
    src: url('/fonts/PatrickHand-Regular.woff2') format('woff2'),
        url('/fonts/PatrickHand-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}