$mobile: 768px;

@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

$lucy-scale: 0.65;
$checkerboard-size: 50px;
$border: 3px; //almost storke-width-big divide 2
$border-radius: 25px;
$border-radius-medium: 12.5px;
$stroke-width-big: 8px;
$stroke-width-big-bottom: 3.5px;
$stroke-width-medium: 6px;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px, rgba(0, 0, 0, 0.25) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
$box-shadow-switch: rgba(0, 0, 0, 0.35) 0px 2px 4px, rgba(0, 0, 0, 0.25) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px 3px 0px inset;
$sidebar-border-radius: 100px;

:root {
  --bg-color: #daae8c;
  --ui-bg: #FBEACE;
  --secondary-ui-bg: #fef3e1;
  --card-bg: #fbf1e8;

  --accent: #FF7879;
  --secondary-accent: #E2D2C6;//
  --button-bg: #e58881;

  --text-primary: #714B4F;
  --text-secondary: #1f1415;//

  --hover-highlight-color: #ffffff;

  --width-of-switch: 7rem;
  --height-of-switch: 60px;
  --size-of-icon: 2.2rem;
  --slider-offset: 0.5rem;
}

[data-theme="dark"] {
  --bg-color: #502f58;
  --ui-bg: #5e586e;
  --secondary-ui-bg: #46797e;
  --card-bg: #282a34;

  --accent: #0015ff;
  --secondary-accent: #9835da;//x
  --button-bg: #c8ff00;

  --text-primary: #000000;
  --text-secondary: #ffffff;

  --hover-highlight-color: #282f52;
}