@use "./styles/reset.scss";
@use "./styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

html,
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

$border: solid 5px rgb(91, 91, 91);
$border-radius: 25px;
$border-radius-medium: 12px;

:root {
  --bg-color: #b16c4d;
  --ui-bg: #FBEACE;
  --card-bg: #FEF6EC;

  --accent: #FF7879;
  --secondary-accent: #FFD6A5;
  --button-highlight: #E1908A;

  --text-primary: #674f3d;
  --text-secondary: #7A6F68;

  --border-color: #E2D2C6;
}

[data-theme="dark"] {
  --bg-color: #2E2725;
  --ui-bg: #3A3230;
  --card-bg: #613e13;

  --accent: #FF8F91;
  --secondary-accent: #FFC67C;
  --button-highlight: #EFAEA9;

  --text-primary: #F2E5DD;
  --text-secondary: #C4B4A8;

  --border-color: #4B403E;
}

body {
  background-color: var(--bg-color);
  overflow: hidden;
}

h2 {
  font-family: 'Sweetie Bubble Gum', cursive;
  font-size: 1.7rem;
  margin: 0;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-family: 'Sweetie Bubble Gum', cursive;
  font-size: 1.2rem;
  margin: 0;
  color: var(--text-primary);
}

p {
  font-family: "Patrick Hand", sans-serif;
}

.modal {
  @include centered;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  z-index: 999;

    .close-btn {
    position: absolute;
    top: -12px;
    left: -12px;
    background-color: var(--button-highlight);
    color: var(--text-primary);
    width: 40px;
    height: 40px;
    border: $border;
    border-radius: 50%;
    z-index: 1000; // stays above all content
    cursor: pointer;
  }

  .content-wrapper {
    @include centered;

border-radius: $border-radius;
overflow: hidden;
    
    flex-direction: column;
    position: relative;
.border-svg {
  position: absolute;
  top: 0;
  left: 0;
  
    width: 100%;
  height: 100%;
  pointer-events: none; 
   rect {
        width: 100%;
  height: 100%;
    fill: none;             
    stroke: var(--text-primary);      
    stroke-width: 17.5;
    stroke-dasharray: 150, 3, 420, 1, 100, 5;
    rx: $border-radius;
    ry: $border-radius;
  }
}

  .modal-content {
    display: flex;
    gap: 1rem;
    padding: 30px;
    height: 400px;
    flex-wrap: wrap;
    overflow-y: auto;
    border-radius: 0 0 $border-radius $border-radius;
    background-color: var(--ui-bg);


    .content-card {
      background-color: var(--card-bg);
      border: 1px solid #E2D2C6;
      border-radius: $border-radius-medium;
      padding: 0.8rem;
      text-align: center;
      width: 48%;

      img {
        width: 100%;
        object-fit: cover;
      }
    }
  }
  }



  .modal-header {
    @include centered;
    width: 100%;
    height: 50px;
    background-color: var(--accent);
    border-radius: $border-radius $border-radius 0 0;
    

  }


}