@use "./styles/reset.scss";
@use "./styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

html,
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

$border: 4px; //almost storke-width-big divide 2
$border-radius: 25px;
$border-radius-medium: 12.5px;
$stroke-width-big: 10px;
$stroke-width-big-bottom: 4px;
$stroke-width-medium: 7px;

:root {
  --bg-color: #b16c4d;
  --ui-bg: #FBEACE;
  --card-bg: #FEF6EC;

  --accent: #FF7879;
  --secondary-accent: #E2D2C6;
  --button-highlight: #E1908A;

  --text-primary: #714A4F;
  --text-secondary: #000000;

  --border-color: #ffffff;
}

[data-theme="dark"] {
  --bg-color: #2E2725;
  --ui-bg: #3A3230;
  --card-bg: #613e13;

  --accent: #FF8F91;
  --secondary-accent: #FFC67C;
  --button-highlight: #EFAEA9;

  --text-primary: #F2E5DD;
  --text-secondary: #C4B4A8;

  --border-color: #4B403E;
}

body {
  background-color: var(--bg-color);
  overflow: hidden;
}

h2 {
  font-family: 'Sweetie Bubble Gum', cursive;
  font-size: 2rem;
  margin: 0;
  color: white;
  text-transform: uppercase;
}

h3 {
  font-family: 'Sweetie Bubble Gum', cursive;
  font-size: 1.2rem;
  margin: 0;
  color: var(--text-primary);
}

p {
  font-family: "Patrick Hand", sans-serif;
}

.border-svg {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  pointer-events: none;

  rect {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-dasharray: 150, 3, 420, 1, 100, 5;
    /*  needchange */
    rx: $border-radius;
    ry: $border-radius;
    stroke-width: $stroke-width-big;
    stroke: var(--text-primary);
  }
}


.content-wrapper,
.border-wrapper {
  @include centered;
  position: relative;
  overflow: hidden;
  /*  needchange */
  border-radius: $border-radius;
}

.modal {
  @include centered;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  z-index: 999;

  .close-btn {
   
    position: absolute;
    top: -12px;
    left: -70px;
    background-color: var(--button-highlight);
    color: var(--text-primary);
    width: 65px;
    height: 65px;
    border: solid $border var(--text-primary);
    border-radius: 50%;
    z-index: 1000; // stays above all content
    cursor: pointer;
    svg {
      position: absolute;
    top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
    }
  }

  .content-wrapper {

    flex-direction: column;

    svg rect {
      stroke-width: $stroke-width-big;
      stroke: var(--text-primary);
    }

    .modal-content {
      display: flex;
      gap: 1rem;
      padding: 30px;
      height: 400px;
      flex-wrap: wrap;
      overflow-y: auto;
      border-radius: 0 0 $border-radius $border-radius;
      background-color: var(--ui-bg);


      .content-card {
        background-color: var(--card-bg);
        border: 1px solid var(--secondary-accent);
        border-radius: $border-radius-medium;
        padding: 0.8rem;
        text-align: center;
        width: 48%;

        img {
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .modal-header {
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 100%;
    height: auto;
    padding: 30px 0 10px 0;
    background-color: var(--accent);
    border-radius: $border-radius $border-radius 0 0;
    border-bottom: solid var(--text-primary) $stroke-width-big-bottom;

    .border-wrapper {
      border-radius: 8px;
    }

    svg rect {
      stroke-width: $stroke-width-medium;
      stroke: var(--border-color);
      rx: 8px;
      ry: 8px;
    }

    h2 {
      padding: 12px 15px 7px 15px;
      text-align: center;
    }
  }
}