@use "./styles/reset.scss";
@use "./styles/fonts.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: background-color 0.3s ease,
    color 0.3s ease,
    border-color 0.3s ease;
}

html,
body {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@mixin centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

$border: 3px; //almost storke-width-big divide 2
$border-radius: 25px;
$border-radius-medium: 12.5px;
$stroke-width-big: 8px;
$stroke-width-big-bottom: 3.5px;
$stroke-width-medium: 6px;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 4px, rgba(0, 0, 0, 0.25) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

:root {
  --bg-color: #daae8c;
  --ui-bg: #FBEACE;
  --secondary-ui-bg: #fef3e1;
  --card-bg: #fff6ea;

  --accent: #FF7879;
  --secondary-accent: #E2D2C6;
  --button-bg: #e58881;

  --text-primary: #714A4F;
  --text-secondary: #714A4F;

  --border-color: #ffffff;

  --width-of-switch: 8rem;
  --height-of-switch: 65px;
  --size-of-icon: 2.4rem;
  --slider-offset: 0.5rem;
}

[data-theme="dark"] {
  --bg-color: #2f3058;
  --ui-bg: #dd8c24;
  --secondary-ui-bg: #0909c8;
  --card-bg: #1d2c2e;

  --accent: #b3ff00;
  --secondary-accent: #09d3ee;
  --button-bg: #c30d56;

  --text-primary: #8cc3bb;
  --text-secondary: #ffffff;

  --border-color: #afa827;
}

body {
  
  overflow: hidden;
background-color: black;
  

}

body:before {
      content: "";
    position: fixed;       /* stays in place on scroll */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     background-image: url('/imageds.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
 /*  filter: blur(10px); */
}

h2 {
  font-family: 'Sweetie Bubble Gum', cursive;
  font-size: 2.5rem;
  margin: 0;
  color: var(--border-color);
  text-transform: uppercase;
}

h3 {
  font-family: 'Sweetie Bubble Gum', cursive;
  font-size: 1.8rem;
  margin: 0;
  color: var(--text-primary);
}

p {
  font-family: "Patrick Hand", sans-serif;
  font-size: 1rem;
  color: var(--text-secondary);
}

.border-svg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;

  width: 100%;
  height: 100%;
  pointer-events: none;

  rect {
    width: 100%;
    height: 100%;
    fill: none;
    stroke-dasharray: 150, 3, 420, 1, 100, 5;
    /*  needchange */
    rx: $border-radius;
    ry: $border-radius;
    stroke-width: $stroke-width-big;
    stroke: var(--text-primary);
  }
}

.content-wrapper,
.border-wrapper {
  @include centered;
  position: relative;
  overflow: hidden;
  /*  needchange */
  border-radius: $border-radius;
}

.modal {
  @include centered;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  max-width: 1200px;
  z-index: 999;

  .close-btn {

    position: absolute;
    top: -12px;
    left: -70px;
    background-color: var(--button-bg);
    color: var(--text-primary);
    width: 65px;
    height: 65px;
    border: solid $border var(--text-primary);
    box-shadow: $box-shadow;
    border-radius: 50%;
    z-index: 1000; // stays above all content
    cursor: pointer;

    img {
      position: absolute;
      left: 1px;
      top: 1px;
      width: 30px;
      height: 30px;
      opacity: 0.5;
    }

    svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .content-wrapper {
    flex-direction: column;
    background: repeating-conic-gradient(from 45deg, var(--ui-bg) 0% 25%, var(--secondary-ui-bg) 0% 50%);
    background-size: 35px 35px;
    background-color: var(--secondary-ui-bg);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    svg rect {
      stroke-width: $stroke-width-big;
      stroke: var(--text-primary);
    }

    .modal-header {
      display: flex;
      align-items: baseline;
      justify-content: center;
      width: 100%;
      height: auto;
      padding: 30px 0 10px 0;
      background-color: var(--accent);
      border-radius: $border-radius $border-radius 0 0;
      border-bottom: solid var(--text-primary) $stroke-width-big-bottom;

      .border-wrapper {
        border-radius: 8px;
      }

      svg rect {
        stroke-width: $stroke-width-medium;
        stroke: var(--border-color);
        rx: 8px;
        ry: 8px;
      }

      h2 {
        padding: 12px 15px 7px 15px;
        text-align: center;
      }
    }

    .modal-content {
      display: flex;
      gap: 2rem;
      padding: 50px 30px;
      margin: 0 5px 6px 25px;
      height: 500px;
      flex-wrap: wrap;
      overflow-y: auto;
      border-radius: 0 0 $border-radius $border-radius;
      position: relative; //dont overlay on scrollbar
      z-index: 9; //dont overlay on scrollbar

      //firebox
      scrollbar-width: thin;
      scrollbar-color: var(--accent) var(--border-color);

      &::-webkit-scrollbar {
        width: 8px;
      }

      &::-webkit-scrollbar-track {
        width: 2px;
        border-radius: 4px;
        background-color: var(--border-color);
      }

      &::-webkit-scrollbar-thumb {
        background-color: var(--accent);
        border-radius: 4px;
      }

      .border-wrapper {
        width: 46%;
        height: min-content; //that can fix bordersvg in
        background-color: var(--card-bg);
        border-radius: $border-radius-medium;
        align-items: start;

        svg rect {
          stroke-width: 4px;
          stroke: var(--text-primary);
          rx: $border-radius-medium;
          ry: $border-radius-medium;
        }

        .content-card {
          padding: 2rem 1.2rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 10px;

          .card {
            display: flex;
            flex-direction: column;
            align-items: start;

            .card-date {
              background-color: var(--text-primary);
              width: fit-content;
              padding: 4px 6px 2px 6px;
              font-family: 'Sweetie Bubble Gum', cursive;
              font-size: 0.9rem;
              color: var(--secondary-ui-bg);
              border-radius: 7px 7px 0 0;
            }

            img {
              width: 100%;
              object-fit: cover;
              border-radius: 0 7px 7px 7px;
              border: solid 2px var(--text-primary)
            }
          }

          .card-title {
            width: fit-content;
            height: 30px;
            padding: 9px;
            border-radius: 15px;
            color: var(--accent);
          }

          .card-description {
            margin: 10px 0;
          }
        }
      }
    }
  }
}

.switch-wrapper {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 9999;
}

.switch-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.switch-wrapper *,
.switch-wrapper ::after,
.switch-wrapper ::before {
  box-sizing: border-box;
}

.switch-wrapper .switch {
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

.switch-wrapper .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--button-bg);
  border: solid $border var(--text-primary);
  box-shadow:
    rgba(0, 0, 0, 0.35) 0px 2px 4px, rgba(0, 0, 0, 0.25) 0px 7px 13px -3px,
    inset 0 2px 4px rgba(0, 0, 0, 0.35);
  transition: .4s;
  border-radius: calc(var(--height-of-switch)/2);
}

.switch-wrapper .slider:before {
  content: "";
  position: absolute;
  width: calc(var(--size-of-icon) + 0.9rem);
  box-shadow: $box-shadow;
  border: solid 2px var(--text-primary);
  height: calc(var(--size-of-icon) + 0.9rem);
  left: calc(var(--slider-offset) - 0.23rem);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--card-bg);
  transition: 0.4s;
  z-index: 99;
}

.switch-wrapper .slider:after {
  content: "";
  position: absolute;
  width: var(--size-of-icon);
  height: var(--size-of-icon);
  left: calc(var(--slider-offset) + 0.4rem);
  top: 50%;
  transform: translate(-7%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;

  /* Sound ON SVG */
  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 1.25C12.4142 1.25 12.75 1.58579 12.75 2V4C12.75 4.41421 12.4142 4.75 12 4.75C11.5858 4.75 11.25 4.41421 11.25 4V2C11.25 1.58579 11.5858 1.25 12 1.25ZM3.66865 3.71609C3.94815 3.41039 4.42255 3.38915 4.72825 3.66865L6.95026 5.70024C7.25596 5.97974 7.2772 6.45413 6.9977 6.75983C6.7182 7.06553 6.2438 7.08677 5.9381 6.80727L3.71609 4.77569C3.41039 4.49619 3.38915 4.02179 3.66865 3.71609ZM20.3314 3.71609C20.6109 4.02179 20.5896 4.49619 20.2839 4.77569L18.0619 6.80727C17.7562 7.08677 17.2818 7.06553 17.0023 6.75983C16.7228 6.45413 16.744 5.97974 17.0497 5.70024L19.2718 3.66865C19.5775 3.38915 20.0518 3.41039 20.3314 3.71609ZM1.25 12C1.25 11.5858 1.58579 11.25 2 11.25H4C4.41421 11.25 4.75 11.5858 4.75 12C4.75 12.4142 4.41421 12.75 4 12.75H2C1.58579 12.75 1.25 12.4142 1.25 12ZM19.25 12C19.25 11.5858 19.5858 11.25 20 11.25H22C22.4142 11.25 22.75 11.5858 22.75 12C22.75 12.4142 22.4142 12.75 22 12.75H20C19.5858 12.75 19.25 12.4142 19.25 12ZM17.0255 17.0252C17.3184 16.7323 17.7933 16.7323 18.0862 17.0252L20.3082 19.2475C20.6011 19.5404 20.601 20.0153 20.3081 20.3082C20.0152 20.6011 19.5403 20.601 19.2475 20.3081L17.0255 18.0858C16.7326 17.7929 16.7326 17.3181 17.0255 17.0252ZM6.97467 17.0253C7.26756 17.3182 7.26756 17.7931 6.97467 18.086L4.75244 20.3082C4.45955 20.6011 3.98468 20.6011 3.69178 20.3082C3.39889 20.0153 3.39889 19.5404 3.69178 19.2476L5.91401 17.0253C6.2069 16.7324 6.68177 16.7324 6.97467 17.0253ZM12 19.25C12.4142 19.25 12.75 19.5858 12.75 20V22C12.75 22.4142 12.4142 22.75 12 22.75C11.5858 22.75 11.25 22.4142 11.25 22V20C11.25 19.5858 11.5858 19.25 12 19.25Z" fill="black"/></svg>') center/contain no-repeat;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M17 12C17 14.7614 14.7614 17 12 17C9.23858 17 7 14.7614 7 12C7 9.23858 9.23858 7 12 7C14.7614 7 17 9.23858 17 12Z" fill="black"/><path fill-rule="evenodd" clip-rule="evenodd" d="M12 1.25C12.4142 1.25 12.75 1.58579 12.75 2V4C12.75 4.41421 12.4142 4.75 12 4.75C11.5858 4.75 11.25 4.41421 11.25 4V2C11.25 1.58579 11.5858 1.25 12 1.25ZM3.66865 3.71609C3.94815 3.41039 4.42255 3.38915 4.72825 3.66865L6.95026 5.70024C7.25596 5.97974 7.2772 6.45413 6.9977 6.75983C6.7182 7.06553 6.2438 7.08677 5.9381 6.80727L3.71609 4.77569C3.41039 4.49619 3.38915 4.02179 3.66865 3.71609ZM20.3314 3.71609C20.6109 4.02179 20.5896 4.49619 20.2839 4.77569L18.0619 6.80727C17.7562 7.08677 17.2818 7.06553 17.0023 6.75983C16.7228 6.45413 16.744 5.97974 17.0497 5.70024L19.2718 3.66865C19.5775 3.38915 20.0518 3.41039 20.3314 3.71609ZM1.25 12C1.25 11.5858 1.58579 11.25 2 11.25H4C4.41421 11.25 4.75 11.5858 4.75 12C4.75 12.4142 4.41421 12.75 4 12.75H2C1.58579 12.75 1.25 12.4142 1.25 12ZM19.25 12C19.25 11.5858 19.5858 11.25 20 11.25H22C22.4142 11.25 22.75 11.5858 22.75 12C22.75 12.4142 22.4142 12.75 22 12.75H20C19.5858 12.75 19.25 12.4142 19.25 12ZM17.0255 17.0252C17.3184 16.7323 17.7933 16.7323 18.0862 17.0252L20.3082 19.2475C20.6011 19.5404 20.601 20.0153 20.3081 20.3082C20.0152 20.6011 19.5403 20.601 19.2475 20.3081L17.0255 18.0858C16.7326 17.7929 16.7326 17.3181 17.0255 17.0252ZM6.97467 17.0253C7.26756 17.3182 7.26756 17.7931 6.97467 18.086L4.75244 20.3082C4.45955 20.6011 3.98468 20.6011 3.69178 20.3082C3.39889 20.0153 3.39889 19.5404 3.69178 19.2476L5.91401 17.0253C6.2069 16.7324 6.68177 16.7324 6.97467 17.0253ZM12 19.25C12.4142 19.25 12.75 19.5858 12.75 20V22C12.75 22.4142 12.4142 22.75 12 22.75C11.5858 22.75 11.25 22.4142 11.25 22V20C11.25 19.5858 11.5858 19.25 12 19.25Z" fill="black"/></svg>') center/contain no-repeat;

  background-color: var(--text-primary);
  z-index: 999;
}

.switch-wrapper input:checked+.slider:before {
  left: calc(100% - (var(--size-of-icon) + var(--slider-offset) + 0.65rem));
}

.switch-wrapper input:checked+.slider:after {
  left: calc(100% - (var(--size-of-icon) + var(--slider-offset)));

  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.589 21.659c-3.873 1.038-8.517-.545-10.98-3.632a1 1 0 0 1 .751-1.623c3.984-.118 6.662-1.485 8.17-4.098 1.51-2.613 1.354-5.616-.535-9.125a1 1 0 0 1 1.03-1.463c3.904.59 7.597 3.82 8.635 7.694 1.43 5.334-1.737 10.818-7.071 12.247z" fill="black"/></svg>') center/contain no-repeat;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M13.589 21.659c-3.873 1.038-8.517-.545-10.98-3.632a1 1 0 0 1 .751-1.623c3.984-.118 6.662-1.485 8.17-4.098 1.51-2.613 1.354-5.616-.535-9.125a1 1 0 0 1 1.03-1.463c3.904.59 7.597 3.82 8.635 7.694 1.43 5.334-1.737 10.818-7.071 12.247z" fill="black"/></svg>') center/contain no-repeat;

  background-color: var(--text-primary);
}

.sound-switch-wrapper {
  position: fixed;
  top: 95px;
  right: 20px;
  z-index: 9999;
}

.sound-switch-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.sound-switch-wrapper *,
.sound-switch-wrapper ::after,
.sound-switch-wrapper ::before {
  box-sizing: border-box;
}

.sound-switch-wrapper .switch {
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
  display: inline-block;
}

.sound-switch-wrapper .sound-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--button-bg);
  border: solid $border var(--text-primary);
  box-shadow:
    rgba(0, 0, 0, 0.35) 0px 2px 4px, rgba(0, 0, 0, 0.25) 0px 7px 13px -3px,
    inset 0 2px 4px rgba(0, 0, 0, 0.35);
  transition: .4s;
  border-radius: calc(var(--height-of-switch)/2);
}

.sound-switch-wrapper .sound-slider:before {
  content: "";
  position: absolute;
  width: calc(var(--size-of-icon) + 0.9rem);
  box-shadow: $box-shadow;
  border: solid 2px var(--text-primary);
  height: calc(var(--size-of-icon) + 0.9rem);
  left: calc(var(--slider-offset) - 0.23rem);
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: var(--card-bg);
  transition: 0.4s;
  z-index: 99;

}

.sound-switch-wrapper .sound-slider::after {
  content: "";
  position: absolute;
  width: var(--size-of-icon);
  height: var(--size-of-icon);
  left: calc(var(--slider-offset) + 0.6rem);
  top: 50%;
  transform: translate(-7%, -50%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s;

  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.54,16.54a1,1,0,0,1-.71-.3,1,1,0,0,1,0-1.41,4,4,0,0,0,0-5.66,1,1,0,0,1,1.41-1.41,6,6,0,0,1,0,8.48A1,1,0,0,1,15.54,16.54Z"/><path d="M11.38,4.08a1,1,0,0,0-1.09.21L6.59,8H4a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H6.59l3.7,3.71A1,1,0,0,0,11,20a.84.84,0,0,0,.38-.08A1,1,0,0,0,12,19V5A1,1,0,0,0,11.38,4.08Z"/></svg>') center/contain no-repeat;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M15.54,16.54a1,1,0,0,1-.71-.3,1,1,0,0,1,0-1.41,4,4,0,0,0,0-5.66,1,1,0,0,1,1.41-1.41,6,6,0,0,1,0,8.48A1,1,0,0,1,15.54,16.54Z"/><path d="M11.38,4.08a1,1,0,0,0-1.09.21L6.59,8H4a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H6.59l3.7,3.71A1,1,0,0,0,11,20a.84.84,0,0,0,.38-.08A1,1,0,0,0,12,19V5A1,1,0,0,0,11.38,4.08Z"/></svg>') center/contain no-repeat;

  background-color: var(--text-primary);
  z-index: 999;
}

.sound-switch-wrapper input:checked+.sound-slider::before {
  left: calc(100% - (var(--size-of-icon) + var(--slider-offset) + 0.65rem));
}

.sound-switch-wrapper input:checked+.sound-slider:after {
  left: calc(100% - (var(--size-of-icon) + var(--slider-offset)));

  mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.38,4.08a1,1,0,0,0-1.09.21L6.59,8H4a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H6.59l3.7,3.71A1,1,0,0,0,11,20a.84.84,0,0,0,.38-.08A1,1,0,0,0,12,19V5A1,1,0,0,0,11.38,4.08Z"/><path d="M16,15.5a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42l5-5a1,1,0,0,1,1.42,1.42l-5,5A1,1,0,0,1,16,15.5Z"/><path d="M21,15.5a1,1,0,0,1-.71-.29l-5-5a1,1,0,0,1,1.42-1.42l5,5a1,1,0,0,1,0,1.42A1,1,0,0,1,21,15.5Z"/></svg>') center/contain no-repeat;
  -webkit-mask: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M11.38,4.08a1,1,0,0,0-1.09.21L6.59,8H4a2,2,0,0,0-2,2v4a2,2,0,0,0,2,2H6.59l3.7,3.71A1,1,0,0,0,11,20a.84.84,0,0,0,.38-.08A1,1,0,0,0,12,19V5A1,1,0,0,0,11.38,4.08Z"/><path d="M16,15.5a1,1,0,0,1-.71-.29,1,1,0,0,1,0-1.42l5-5a1,1,0,0,1,1.42,1.42l-5,5A1,1,0,0,1,16,15.5Z"/><path d="M21,15.5a1,1,0,0,1-.71-.29l-5-5a1,1,0,0,1,1.42-1.42l5,5a1,1,0,0,1,0,1.42A1,1,0,0,1,21,15.5Z"/></svg>') center/contain no-repeat;

  background-color: var(--text-primary);
}

.menu-icon-wrapper {
  width: 65px;
  height: 65px;
  position: fixed;
  top: 20px;
  left: 20px;
  background-color: var(--button-bg);
  @include centered;
  flex-direction: column;
   border: solid $border var(--text-primary);
   border-radius: $border-radius;
    box-shadow: $box-shadow;

    img {
      position: absolute;
      top: -21px;
      left: -9px;
      width:90px;
      height: 90px;
      opacity: 0.5;
    }
  .menu-icon {
    position: relative;

    .all-line {
      width: 100%;
      position: absolute;
      top: 0px;
      transform: translate(-1%,20%);
    gap: 2px;
  @include centered;
    flex-direction: column;
      z-index: 10;
    }
  }

}

.icon {
   border: solid 3px var(--text-primary);
  width: 40px;
  height: 10px;

  background-color: var(--border-color);
  border-radius: 6px;
  transition: background-color 0.2s ease-in-out;

}

label {
  cursor: pointer;
}

input {
  display: none
}

#menu:checked~.all-line .div-1 {
  animation: animate-line-1 .7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

#menu:checked~.all-line .div-3 {
  animation: animate-line-2 .7s cubic-bezier(0.3, 1, 0.7, 1) forwards;
}

#menu:checked~.all-line .div-2 {
  scale: 0;
  transition: all 0.5s;
}

#menu1:checked~.all-line .div-1 {
  animation: animate-1-rev 0.7s ease-in-out
}

#menu1:checked~.all-line .div-3 {
  animation: animate-2-rev 0.7s ease-in-out
}

#menu1:checked~.all-line .div-2 {
  scale: 1;
  transition: all 0.5s;
}

#menu1:checked .label-1 {
  z-index: 9;
}

#menu:checked~.label-2 {
  z-index: 12;
}

@keyframes animate-1-rev {
  0% {
    transform: translate3d(0, 18px, 0) rotate(45deg);
  }

  50% {
    transform: translate3d(0, 18px, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

@keyframes animate-line-1 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  50% {
    transform: translate3d(0, 18px, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 18px, 0) rotate(45deg);
  }
}

@keyframes animate-line-2 {
  0% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }

  50% {
    transform: translate3d(0, -18px, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, -18px, 0) rotate(-45deg);
  }
}

@keyframes animate-2-rev {
  0% {
    transform: translate3d(0, -18px, 0) rotate(45deg);
  }

  50% {
    transform: translate3d(0, -18px, 0) rotate(0);
  }

  100% {
    transform: translate3d(0, 0, 0) rotate(0deg);
  }
}

.div-2-2 {
  display: none;
}

.label-1 {
  height: 50px;
  display: block;
  width: 60px;
  z-index: 11;
  position: relative;
}

.label-2 {
  height: 50px;
  display: block;
  width: 60px;
  position: absolute;
  top: 9px;
}

/* .clock {
  position: fixed;

  width: 100px;
  height: 100px;
  top: 190px;
  right: 20px;
  border-radius: 50%;
   box-shadow: $box-shadow;
 background-color: rgba(255, 255, 255, 0.109);
    backdrop-filter: blur(30px);  
 
}

.clock::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background-color: var(--accent);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 50%;
  z-index: 99;
}

.hand, .hands{
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform-origin: bottom;

  border-radius: 10px;
  transform: translateX(-50%) rotate(0deg);
}

.hour {
  width: 7px;
  height: 20px;
  background-color: var(--card-bg);
  z-index: 9;
}

.minute {
  width: 6px;
  height: 30px;
  background-color: var(--card-bg);
  z-index: 8;
}

.second {
  width: 5px;
  height: 40px;
  background-color: var(--card-bg);
  z-index: 7;
}


@keyframes warp {
  from { transform: rotate(0deg); }
  to { transform: rotate(720deg); }
}
.warp {
  animation: warp 1s ease-in-out;
} */